body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/092/726/original/question-mark-background-vector.jpg");
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-color: #0c9eb8;
}