 .navbar-nav .nav-item .nav-link:hover, .mb-4, p {
     color: #651fff;

 }

 h3,
 .result,
 .mainText {
     color: white;
 }

 .heads, .table-responsive .btn, .btn {
     background-color: #651fff;
     color: #00eaff;

 }

 .btn:hover {
    background-color: #651fff;
     color: #00eaff;
 }




 footer {
     position: absolute;
     bottom: 0;

     margin-block-end: 0%;
     color: #5132ff;
     background-color: #343a40;
     width: 100%;
     text-align: center;
     font: normal 16px sans-serif;

     padding: 35px 50px;
 }