 .navbar-nav .nav-item .nav-link:hover {
    color: blue;
    border: none; 
}

h3, .heads, .result, .mainText {
  color: white;
}


   footer{
    
position: absolute;
bottom: 0;

margin-block-end: 0%;
color: #00eaff;
  background-color: #343a40;
  width: 100%;
  text-align: center;
  font: normal 16px sans-serif;

  padding: 35px 50px;
}
