<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Django ToDo Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'todo/css/bootstrap.min.css' %}">
    <script src="{% static 'todo/js/jquery.min.js' %}"></script>
    <script src="{% static 'todo/js/popper.min.js' %}"></script>
    <script src="{% static 'todo/js/bootstrap.min.js' %}"></script>
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>
